.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-color-opacity-2);
  z-index: 20;
  animation: fadein 500ms ease-in forwards;
}

.dialog {
  width: 100%;
  max-width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid var(--green-color);
  border-radius: 30px;
  gap: 15px;
  box-shadow: 1px 1px 10px 2px var(--white-color);
}

.dialog__title {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  text-shadow: 3px 3px 1px var(--blue-color);
  font-weight: bold;
}

.dialog__starts {
  margin: 0;
}

.dialog__time {
  margin: 0;
  font-size: 1.5rem;
  color: var(--green-color);
}

.dialog__time span {
  font-weight: bold;
  text-shadow: 2px 2px 1px var(--white-color);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
