.container {
  width: 100%;
  height: 100dvh;
  position: relative;
  display: flex;
  background-color: var(--black-color-opacity);
  opacity: 0;
  animation: fadein 500ms ease-in forwards;
}

.section-left {
  width: 280px;
  display: flex;
  flex-direction: column;
  background-color: var(--blue-color-opacity);
  overflow: auto;
  flex-shrink: 0;
}

.section-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;
}

@media (width <= 768px) {
  .section-left {
    display: none;
  }
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}
